{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content_control %}
<h2>{{ title }}</h2>
<form class="gt-flex" role="search" method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="{{ form.search_choice.id_for_label }}" class="form-label">Искать по полю: </label>
    {{ form.search_choice }}
  </div>
  <div class="mb-3">
    <label for="{{ form.search_input.id_for_label }}" class="form-label">Ввод: </label>
    {{ form.search_input }}
  </div>
  <button class="btn btn-outline-success" type="submit">Поиск</button>
</form>
{% endblock %}

{% block content %}
<table class="table table-bordered table-response table-sm">
  <thead class="table-light">
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Фамилия преподавателя</th>
          <th scope="col">Номер группы</th>
          <th scope="col">Занятие</th>
          <th scope="col">Дисциплина</th>
          <th scope="col">Тип предмета</th>
          <th scope="col">Распределение</th>
          <th scope="col">Часы</th>
          <th scope="col">Общие часы</th>
          <th scope="col">Семестр</th>
          <th scope="col">Год</th>
      </tr>            
  </thead>
  {% for item in page_obj.object_list %}
  <tbody>
      <tr>
          <th scope="row">{{ item.id }}</th>
          <td><a href="{% url 'teacher_card' item.teacher.pk %}">{{item.teacher}}</a></td>
          <td>{{item.group_name}}</td>
          <td>{{item.lesson}}</td>
          <td>{{item.study}}</td>
          <td>{{item.hours_type}}</td>
          <td>{{item.timing}}</td>
          <td>{{item.hours}}</td>
          <td>{{item.hours_total}}</td>
          <td>{{item.semester}}</td>
          <td>{{item.year}}</td>
        </tr>
  </tbody>
  {% endfor %}
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link disabled">Найдено записей: {{ page_obj.paginator.count }}</a>
        </li>
    </ul>
</nav>
{% endblock %}